/*-----------------------------------Start Form Log in----------*/

.login-frm-f {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:311px;
    margin: 0 auto;
    box-sizing: border-box;
    z-index:22;
    
}
.login-frm-f form  {
    max-width:320px;
    box-sizing: border-box;
    position:absolute;
width:80%;
font-size: 32px;
background-color:rgba(255, 255, 255, 0.979);
padding:32px;
border-radius:4px;
transform:translate(-50%,50%);
position:absolute;
top:-76%;
left:50%;
/* z-index: 2; */
box-shadow:1px 2px 3px 3px rgba(0,0,0,.1);
/* background:rgba(0,0,0,.9); */
}
.frm-header {
    display: block;
   width:100%;
    padding: 0;
}
.frm-header span {
    color: #777;
    padding-bottom:22px;
    padding-left:22%;
    display:block;
}
.login-frm-f  form .form-control {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    background:0 0;
    border: none;
    border-bottom:1px solid #999999;
    border-radius: 0; 
    box-shadow: 0;
    outline: 0;
    line-height:2.2;
    color: inherit;
}
.login-frm-f .btn-submit {
    width: 100%;
    background-color: #F1F2F3;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: 0;
    margin-top: 27px;
    
    text-shadow: none;
    outline: 0;
    cursor: pointer;
}
button[type='submit'].btn-submit  {
    font-size: 17px;
}
 ::placeholder {
        font-size: 14px;
        padding: 11px;
    } 
.login-frm-f .forgot {
    display: block;
    text-align: center;
    font-size: 15px;
    color: #6f7a85;
    opacity: .9;
    text-decoration: none;
    cursor: pointer;
    padding-top: 22px;
}
.login-frm-f .forgot:hover {
    text-decoration: underline;
    color: rgb(72, 255, 148);

}
.form-group {
    height: calc(2.875rem + 7px);

}
.login-frm-f .form-control-connect {
    display: block;
    background:0 0;
    overflow: hidden;
    border: none;
    box-shadow: 0;
    outline: 0;
    line-height:2.7;
    padding:8px;
    margin: 11px;
}
.login-frm-f  .form-control-connect a {
    text-decoration: none;
    color: #fff;
    padding: 0;
    margin: 12px;
    left: 0;
}
.login-frm-f  .form-control-connect a img {
    width: 10%;
    height: 26px;
    color: #fff;
    float: left;
    
}
.under-solid {
    box-sizing: border-box;
    width:100%;
    overflow: hidden;
    height:28px;
}
.under-solid .solid-1 {
    width:43%;
    height: 20px; float: left; 
    border-bottom: 1px solid #e5e5e5;
}
.under-solid .solid-or {
width: 10%;
height: 20px;
font-size: 18px;
 color: #555; 
 float: left;
 padding-left:12px;
 padding-top: 8px;
}
.under-solid .solid-2 {
    width: 43%;
    height: 20px; 
     border-bottom: 1px solid #e5e5e5;
     float: left;
}


/*-----------------------------------End Log in ----------*/

/*---------------------------------------------Start Coding Home Page*/
.header-cols {
    display: flex;
    justify-content: space-between;
}
.header-cols .head-col-1 {
    /* flex-basis: 6%; */
    max-width: 7%;
    min-width: inherit;
    padding: 22px;
}
.header-cols .head-col-2 {
    flex-basis:20%;
    min-width: 198.797px;
}
.header-cols .head-col-3 {
    flex:40%;
    min-width: 417.891px;
}
.header-cols .head-col-4 {
    flex: 6%;
    min-width: 79.922px;
    
}
.header-cols .head-col-5 {
    padding: 22px;
    flex: 1%;
    min-width: 20.297px;
   
}
.header-cols .head-col-6 {
 padding-top: 16px;
 flex: 6%;   
 min-width: 79.922px;
}
.header-cols .head-col-7 {
 padding-top: 16px;
 flex: 6%;
 min-width: 83.578px;
}
.drop {
    padding: 0;
    margin: 0;
    right: 22px;
    position: absolute;
    width: 120px;
}
.drop select {
    box-sizing: border-box;
    width: 120px;
    height: 35px;
    border: none;
    padding-left: 6px;
    margin-top: -3px;
    -webkit-appearance:button;
    outline: none;
    border-left: 1px solid #e5e5e5;

}
.drop::before {
    content: "";
    background-image: url('../image/drop.png');
    background-position: 0px 6px;
   background-repeat: no-repeat;
   padding: 20px 0px 0px 20px;
   background-size: 18px;
    pointer-events: none;
    top: 0;
    right: 0;
    position: absolute; 
    
}
.home-profile-view-header,.home-profile-rated-header {
    height: 44px;
    margin-bottom: 44px;
}
.home-profile-view-header,.home-profile-rated-header h2 {
    padding: 8px;
    text-align: center;

}
.next {
    position: absolute;
    top: 50%;
    right: 0;
    width: 26px;
    height: 22px;
    border-radius: 3px;
    background-color: #fff;
}

.pre {
    
    position: absolute;
    left: 0px;
    top: 50%;
    width: 26px;
    height: 22px;
    border-radius: 3px;
    background-color: #fff;

}
.pre span {
    display: block;
    width: 16px;
    height: 2px;
    background-color: #999;
    margin: 8px 0;
    cursor: pointer;

}

.next span {
    display: block;
    width: 16px;
    height: 2px;
    background-color: #999;
    margin: 8px 0;
    cursor: pointer;
}
.next span:nth-child(1) {
    transform: rotate(42deg);
}

.next span:nth-child(2) {
    transform: rotate(-44deg);

}

.pre span:nth-child(1) {
    transform: rotate(-44deg);
}

.pre span:nth-child(2) {
    transform: rotate(42deg);

}

.container-f {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item-f {
    width: 18%;
    background-color: #EDEDED;
    margin: 22px;
    overflow: hidden;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset, 0 1px 4px rgba(0, 0, 0, .1);
    border-radius: 13px;
    padding-top: 22px;
}
.footer-cols {
    display: flex;
    justify-content: space-between;
    /* flex-direction: row;
    flex-wrap: wrap;
    flex: 0 1 auto; */
     box-shadow: 0 3px 8px rgba(0, 0, 0, .8);
    box-sizing: border-box;
    align-items: flex-start;
    align-content: flex-start;


}
.footer-cols .foot-col-1,.foot-col-2  {
   flex: 25%;
}
 .footer-cols .foot-col-3 {
    flex: 16%;
 }
 .footer-cols .foot-col-3 img {
     padding-top: 16%;
 }
 .footer-cols .foot-col-4 {
    flex: 34%;
 }
 .footer-cols .foot-col-4 p{
    padding-right: 50px;
    color: #777777;
 }
 .footer-cols .foot-col-1 h2 {
     padding-left: 60px;
 }
 .footer-cols .foot-col-1 ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
 }
 .footer-cols .foot-col-1 ul li a {
    text-decoration: none;
    padding-left: 72px;
    color: #777;
}
.footer-cols .foot-col-2 img{
    width: 10%;
}
.nav-stacky {
    max-width: 100%;
    display: block;
    position: sticky;
    top: 0;
    z-index: 1;
       }

/*---------------------------------------------End Coding Home Page*/
.menu {
     /* display: none; */
     position: relative;;
     top:0;
     left:0;
     width:60px;
     height:50px;
     background-color:#a5aca9;
     cursor:pointer;
     z-index:60;
     box-sizing:border-box;
 }
 .menu-small .menu-block {
     position: relative;
     display: block;
     width: 100%;
     height: 50px;
     background-color: #a5aca9;

 }
 .menu-small {
     /* display: none; */
     overflow: hidden;
     position: relative;
     z-index: 7;
 }
 .menu span {
     margin-top: 22px;
     position:absolute;
     width:30px;
     height: 3px;
     background-color: #777;
     display: block;
     top: calc(50% -1px);
     left: calc(50% - 15px);
     transform: 0.5s;
 }
 .menu span:nth-child(1){
     transform:translateY(-10px);
 }
 .menu span:nth-child(3){
     transform:translateY(10px);
 }
 .menu.active span:nth-child(1){
     transform: translateY(0px) rotate(-45deg);
     
 }
 .menu.active span:nth-child(3){
     transform: translateY(0px) rotate(45deg);    
 }
 .menu.active span:nth-child(2){
     transform: translateY(0px) rotate(-30deg);
     opacity: 0;    
 }
 .menu-bar {
     position: relative;;
     top: 0;
     left: 0;
     width: 100%;
     height: 60px;
     background-color: #fff;
     transition: 0.5s;
     transform: translateX(-100%);
 }
 .menu-bar.active{
     transform:translateX(0);
 }
 .menu-bar ul {
     display: flex;
     margin: 0;
     padding: 0;
     float: right;

 }
 .menu-bar ul li {
     list-style-type: none;
 }
 .menu-bar ul li a{  
     line-height: 60px;
     font-family: sans-serif;
     text-transform: uppercase;
     font-weight: bold;
     color: #a5aca6;
     text-decoration: none;
     padding: 0 20px;
     display: block;
     border-right: 1px solid rgba(0, 0, 0, 0.1);

 }
 .menu-bar ul li:last-child a{
     border-right:none;
 }

 @media (max-width:768px){
     .menu-bar {
         height: auto;
     }
     .menu-bar ul {
         display: inherit;
         float: none; 
         width:100%;
         min-height:auto; 
     }
     .menu-bar ul li a {
         border-right: none;
         border-bottom: 1px solid rgba(0, 0, 0,0.1);
     }
 }  

 .cat-rate {
     position: relative;
     left: 0;
     right: 0;
     background-color: red;
     width: 0;
     height: 1px;
     transition: .5s ease;
     /* margin-top: 20px; */
     margin-left: 0px;
 }
 .menu-bar ul li a:hover .cat-rate {
     width: 92%;
 }
 .menu-bar ul li a:hover {
     /* background-color: red; */
         }
 .photo-user {
     height: 38px;
     padding: 0;
     margin: 0;
     position: relative;
 }

 .item-profile {
     margin:0 6px 0 6px;
 }

 .user-img {
     padding: 6px;
     max-width: 50px;
     height: 42px;
     display: block;
     overflow: hidden;
     float: left;
     cursor: pointer;
 }

 .username {
     padding: 11px;
     height: 38px;
     float: left;
     cursor: pointer;
 }
 .username {
     color: #555;
 }

 .photo-user .user-img img {
     width: 80%;
     border-radius:50%;
 }

 .item-profile h3.item-descript {
     width: 100%;
     height: 62px;
     display: block;
     overflow: hidden;
     padding: 6px 0 0 0;
     margin: 0;
     font-size: 15.70px;
     font-weight: 400;
     font-family:  Arial, sans-serif;
     display: block;
     color: #777;
     line-height: 18.88px;
     cursor: pointer;
 }

 .item-love {
 
     min-height: 27px;
 margin-top: 6px;
     padding-top: 4px;
     
 }

 .item-footer {
     display: flex;
     padding-left: 16px;
     padding-top: 18px;
     box-sizing: border-box;
     
     /* min-height: 41px; */
     border-top: 1px solid #eee;
 }

 .item-footer .price {
     right: 0;
     padding-right: 12px;

 }

 .item-footer .price small {
     padding: 7px;
     cursor: pointer;
 }

 .item-footer.price {
     left: 0;
     right: auto;
     bottom: 5px;
 }

 @media only screen and (max-width:575px){
     .item-profile {
         margin:0 2px 0 2px;   
     }
     .user-img {
         padding: 3px;
         max-width: 20px;
         display: block;
         overflow: hidden;
         float: left;
         cursor: pointer;
     }
     
     .username {
         padding: 11px;
         float: left;
         cursor: pointer;
         font-size: 5px;
     }

     .username {
         color: #555;
     }
     .photo-user .user-img img {
     /* width: 50%;
     border-radius:50%; */
     }

     .item-profile h3.item-descript {
         width: 100%;
         height: 20px;
         display: block;
         overflow: hidden;
         /* padding: 6px 0 0 0; */
         margin: 0;
         font-size: 6px;
         /* font-weight: 400; */
         font-family:  Arial, sans-serif;
         display: block;
         color: #777;
         line-height:8px;
         cursor: pointer;
     }

     .item-love {
     /*    
         min-height: 27px;
     margin-top: 6px;
         padding-top: 4px; */
         
     }

     /* <!-- 
     .item-footer {
         padding-left: 22px;
         padding-top: 7px;
         box-sizing: border-box; 
         
         min-height: 41px;
         border-top: 1px solid #eee;
     } --> */

     .item-footer .price {
         /* position: absolute;
         bottom: 24px; */
         padding:12px;
         display:block;
     }
     /* .item-footer .price {
         right: 0;
         padding-right: 12px;

     } */

     .item-footer .price small {
         padding: 7px;
         cursor: pointer;
     }

     .item-footer.price {
         left: 0;
         right: auto;
         bottom: 5px;
     }
     #eyes {
         width: 4px;
         height: 4px;
     }
     #comment {
         width: 4px;
         height: 4px;
     }
     #heart {
         width: 4px;
         height: 4px;
     }
 }

 .go-top{
     display: none;
     position: fixed;
     width: 45px;
     height: 45px;
     background-color:rgba(255, 71, 71, 0.63);
     float: right;
     border-radius: 50%;
     padding-top: 6px;
     border: 2px solid rgba(252, 55, 55, 0.767);
     bottom: 0px;
     right: 0;
     margin: 0px 17px 17px 0px;
     z-index:1;
     opacity: .8;
 }
 .go-top img {
     width: 22px;
     height: auto;
     margin-left: 12px;
     margin-top: 6px;
 }
 .go-top:hover{
     opacity:1;
     cursor: pointer;
 }

/*---------------------------------------------*/
.item-love #heart {
    cursor: pointer;
    fill: #a8a6b7;
}
.item-love #heart:hover {
    fill:red;
}
.item-love #eye {
    cursor: pointer;
    fill: #a8a6b7;
}
.item-love #eye:hover {
    fill:red;
}
#main-wrapper {
    max-width: 100%;
   padding: 0;
   margin: 0 auto;
}
@media (min-width: 1200px) {
    #main-wrapper {
        max-width: 100%;
    }
    #header {
        max-width: 100%;
        min-height: 122px;
    }
}

#main-wrapper {
    background: #FFFFFF;
    position: relative;
}


.form-line {
    position: relative;
    margin-top: 22px;
    background-clip: padding-box;
    box-sizing: border-box;
    width: 100%;
    min-height: 122px;
    position: relative;
}

input[type='text'] {
    outline: none;
    display: block;
    border: none;
    padding: 12px;
}

#search {
    left: 0;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 7px;
    background-color: #fff;
    background-image: url('../image/search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 8px 20px 8px 40px;
    background-size: 18px;
}
/* #drop {
    
    
 float: right;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    
    background-image: url('../image/drop.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 8px 20px 8px 40px;
    background-size: 18px;
} */

#search:focus {
    border: 1px solid #ccc;
}

#search {
    width: 98%;
    line-height: 1.6;
}

#search:first-child {
    /* border-right: none; */
    margin: -5px;

}
.btn {
    position: absolute;
    left: 82%;
    display: inline-block;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.6;
    border-radius: 0 0.25rem 0.25rem 0;
    outline: none;
    cursor: pointer;
}
[type="submit"] {
    margin: -4.60px;
    color: #666
}
.sidebar {
    position: relative;
}
.sidebar ul {
    padding: 0;
    margin: 0;
}
.sidebar ul li{
    padding-top: 5px;
}
.sidebar ul li {
    display: block;
    font-size: 15px;
    color: #777;
    padding-left:8px;
    
    
}
.sidebar ul h2 {
    font-size: 18px;
    color: #666;
}
a {
    padding: 0;
    margin: 0;
    font-size: 100%;
}
.sidebar ul li a {
    text-decoration: none;
    color: #777;
}
.sidebar ul li a:hover {
    text-decoration: underline;
    
}
.base-header {
    position: relative;
    margin: 0 auto;
}
.base-header .header-row {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 0 1 auto;
    align-items: center;
    height: 80px;
    padding: 16px 15px 15px;
    overflow: hidden;


}


/* @media only screen and (min-width: 600px) {
    .base-header .header-row {
        padding: 0 30px;
        height: 80px;
    }
}
.header-small {
    display: none;
    overflow: hidden;
    position: relative
}

@media only screen and (min-width:1160px) {
    .header-small{
        overflow: hidden;
    }
    .menu-small {
      display: block;
    }
}

@media only screen and (min-width:600px) {
    .header-small {
        display: flex;
    }
    .menu-small {
        display: none;
    } 
} */



.main-content {
    position: relative;
    margin-left: 26px;
    margin-right: 26px;
    box-sizing: border-box;
}
@media (min-width: 1200px) {
    .main-content {max-width: 100%;}
}
/* section .box-advanced {
    margin: 0 auto;
    position: relative;
} */

/* .responsive-grid .row {
    padding-left: 0;
    padding-right: 0;
} */

/* section .row {
    position: relative;
    padding-left: 288px;
    align-items: flex-start;
    align-content: flex-start;
} */

/* .base-layout {
    max-width: 1222px;
    position: relative;
   
} */

.sidebar-group .sidebar {
    position: absolute;
    z-index: 1;
    /* top: 30px; */
    left: 0;
    width: 222px;
    min-height: 815px;
}

/* .current-box {
    width: auto;
    position: relative;
    box-sizing: border-box;

} */

/* .responsive-grid {
    margin: 0 auto;
    padding: 0 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 1 auto;
} */
/* @media only screen and (min-width: 600px) {
    .responsive-grid .row {
        padding: 0 15px;
    }


} */

.box-item {
    width: auto;
    position: relative;
}
.box-item .item {
    background-color: #fff;
    /* width: 232px; */
    width: 100%;
    height: 342px;
    margin-bottom:16px;
    padding: 0;
    /* float: left; */
    display: inline-block;
    position: relative;
    border: 1px #e5e5e5 solid;
    box-sizing: border-box;
    overflow: hidden;
}
.box-item .item-ad-img {
    width: 100%;
    height: 136px;
    box-sizing: border-box;
}

/* @media only screen and (max-width:575px){
    .box-item .item {
        background-color: #fff;
        width: 100%;
        height: 189px;
        margin-bottom:  22px;
        padding: 0;
        display: inline-block;
        position: relative;
        border: 1px #e5e5e5 solid;
        box-sizing: border-box;
        overflow: hidden;
    }
    .box-item .item-ad-img {
        width: 100%;
        height: 60px;
        box-sizing: border-box;
    }  
} */

html,
body {

    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}

article,
aside,
footer,
header,
hgroup,
nav,
section,
    {
    display: block
}


.category-nav {
    position: relative;
     /* display: none; */
     margin: auto 0;
     height: 40px;
     background: #fff;
     border-top: 1px #e5e5e5 solid;
     border-bottom: 1px #e5e5e5 solid;
     overflow: hidden;
}
/* @media only screen and (min-width:600px) {
    .category-nav  {
        display: flex;
    }
} */
@media only screen and (min-width:1160px) {
    .category-nav {
        overflow: visible;
    }
}

.category-nav a {
    font-size: 15px;
    text-decoration: none;
    white-space: nowrap;
}
.category-nav ul {
    
    padding-left: 28px;
    padding-right: 28px;
    margin: 0;
    list-style: none;
}

.category-nav ul li {
    display: inline-block;

}

@media only screen and (min-width:1160px) {
    .category-nav .slider-box {
        overflow: visible;
    }
}

@media only screen and (min-width:600px) {
    .category-nav .slider-box>ul {

        justify-content: flex-start
    }
}

.category-nav .slider-box>ul>li {
    margin-right: 15px
}

@media only screen and (min-width:1160px) {
    .category-nav .slider-box>ul>li>a::after {
        background: #1fd0b6
    }
}

.category-nav .slider-box {
    display: flex;
    overflow-x: scroll;
    height: 57px
}

.category-nav .slider-box {
    height: auto;
    overflow: visible;
    max-width: 1400px;
    width: 100%;
    margin: auto
}

@media only screen and (min-width:1160px) {
    .category-nav .slider-box {
        height: auto;
        overflow: visible;
        max-width: 1400px;
        width: 100%;
        margin: auto
    }
}
.category-nav .slider-box>ul {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 1400px
}

@media only screen and (min-width:600px) {
    .category-nav .slider-box>ul {
        padding: 0 40px 0 50px;
    }
}
@media only screen and (min-width:1160px) {
    .category-nav .slider-box>ul {
        overflow: visible;
        padding: 0 20px;
        /* width: 100% */
    }
}

.category-nav .slider-box>ul>li {
    position: relative;
    z-index: 1;
    padding: 0 10px

}

.category-nav .slider-box>ul>li:nth-child(n+5) .dropdown {
    right: 0;
    left: auto
}

@media only screen and (min-width:1160px) {
    .category-nav .slider-box>ul>li>a::after {
        content: '';
        position: absolute;
        z-index: 2;
        bottom: -1px;
        left: 0;
        width: 100%;
        background: #a5aca6;

        transition: opacity .01s;

        transition-delay: .2s;
        opacity: 0;
        visibility: hidden
    }

    .category-nav .slider-box>ul>li:hover>a::after {
        opacity: 1;
        visibility: visible;
        height: 3px
    }

    .category-nav .slider-box>ul>li:hover .dropdown {
        width: auto;
        opacity: 1;
        visibility: visible
    }
}

.category-nav .slider-box>ul>li a {
    color: #777
}

.category-nav .slider-box>ul>li>a {
    display: block;
    position: relative;
    padding: 11px 0;
    height: 40px;
    box-sizing: border-box
}

.category-nav .slider-box>ul .dropdown {
    background: #fff;
    display: flex;
    position: absolute;
    opacity: 0;
    z-index: 1;
    top: 100%;
    left: 0;
    visibility: hidden;
    border: 1px #e5e5e5 solid;
    box-shadow: 0 1px 3px #ddd;
    padding: 7px 0;
    transition: opacity .1s;
    transition-delay: .2s;

}
.category-nav .slider-box>ul .dropdown ul {
    padding: 0 20px
}

.category-nav .slider-box>ul .dropdown ul:first-of-type {
    margin-right: 30px
}

.category-nav .slider-box>ul .dropdown ul li {

    display: flex;
    padding: 10px 0;
    
}
.category-nav .slider-box>ul .dropdown ul li a:hover {
    text-decoration: underline;
}

/* // Extra small devices (portrait phones, less than 576px) */


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {  }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* .sidebar ul li a {
        text-decoration: none;
        color: red;
    } */
    
  }

/*------------------------------Start Flex items-----------------------------------*/

*,*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.15;
}

@-ms-viewport {
  width: device-width;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    position: relative;
  }
  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  
  
  
  .flex {
    max-width: 100%;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* margin-right: -15px;
    margin-left: -15px; */
    box-sizing: border-box;
  }
  
  .no-gutters {
    margin-right: 0;
    margin-left: 0;
  }
  
  .item-1, .item-2, .item-3, .item-4, .item-5, .item-6, .item-7, .item-8, .item-9, .item-10, 
  .item-11, .item-12, .item, .item-auto, .item-sm-1, .item-sm-2, .item-sm-3, .item-sm-4, 
  .item-sm-5, .item-sm-6, .item-sm-7, .item-sm-8, .item-sm-9, .item-sm-10, .item-sm-11, 
  .item-sm-12, .item-sm, .item-sm-auto, .item-md-1, .item-md-2, .item-md-3, .item-md-4, 
  .item-md-5, .item-md-6, .item-md-7, .item-md-8, .item-md-9, .item-md-10, .item-md-11, 
  .item-md-12, .item-md, .item-md-auto, .item-lg-1, .item-lg-2, .item-lg-3, .item-lg-4, 
  .item-lg-5, .item-lg-6, .item-lg-7, .item-lg-8, .item-lg-9, .item-lg-10, .item-lg-11, 
  .item-lg-12, .item-lg,.item-lg-auto, .item-xl-1, .item-xl-2, .item-xl-3, .item-xl-4, 
  .item-xl-5, .item-xl-6, .item-xl-7, .item-xl-8, .item-xl-9, .item-xl-10, .item-xl-11, 
  .item-xl-12, .item-xl,
  .item-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
  }
  
  .item {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  
  .item-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  
  .item-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  
  .item-2 {
    -ms-flex: 0 0 17.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  
  .item-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 20%;
    max-width: 20%;


  }
  
  .item-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  
  .item-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  
  .item-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  .item-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  
  .item-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  
  .item-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 80%;
    max-width: 80%;
  }
  
  .item-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  
  .item-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  
  .item-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  
  
  /* @media (min-width: 576px)  */
  @media (min-width:480px) and (max-width:575px)
  {

    .item-sm {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .item-sm-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: none;
    }
    .item-sm-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .item-sm-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .item-sm-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .item-sm-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .item-sm-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .item-sm-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .item-sm-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .item-sm-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .item-sm-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .item-sm-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .item-sm-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .item-sm-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  
  /* @media (min-width: 768px) */
  @media (min-width:576px) and (max-width:767px)
   {
    .item-md {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .item-md-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: none;
    }
    .item-md-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .item-md-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .item-md-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .item-md-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .item-md-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .item-md-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .item-md-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .item-md-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .item-md-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .item-md-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .item-md-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .item-md-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    
  }
  /* @media(max-width: 479px){}
  @media (min-width:480px) and (max-width:767px){} */
  /* @media (min-width: 992px) */
  @media (min-width:768px) and (max-width:991px)
   {
    .item-lg {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .item-lg-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: none;
    }
    .item-lg-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .item-lg-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .item-lg-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .item-lg-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .item-lg-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .item-lg-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .item-lg-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .item-lg-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .item-lg-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .item-lg-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .item-lg-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .item-lg-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
   
  }
  
  /* @media (min-width: 1200px) */
  @media (min-width:992px) and (max-width:1200px)
   {
    .item-xl {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .item-xl-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: none;
    }
    .item-xl-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .item-xl-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .item-xl-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .item-xl-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .item-xl-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .item-xl-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .item-xl-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .item-xl-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .item-xl-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .item-xl-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .item-xl-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .item-xl-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    
  }
  @media (min-width:1200px) and (max-width:19000px)
  {
    .item-xl {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .item-xl-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: none;
    }
    .item-xl-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .item-xl-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .item-xl-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .item-xl-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .item-xl-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .item-xl-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .item-xl-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .item-xl-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .item-xl-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .item-xl-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .item-xl-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .item-xl-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    
  }
  @media (min-width:1400px) and (max-width:19000px)
  {
    .main-content {
      padding-left: 46px;
      padding-right: 46px;

    }
  }
.border {
  border: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-left{
  border-left: 1px solid #e5e5e5;
}
.border-right{
  border-right: 1px solid #e5e5e5;
}

/*------------------------------End   Flex items-----------------------------------*/