
.frm-post-project  input[type="file"] {
    border: none; 
cursor: pointer;
outline: none;
    
}
.frm-post-project  input#file {
  display: inline-block;
  width: 11%;
  padding: 120px 0 0 0;
  height: 77px;
  overflow: hidden;
   background: url('../image/post.png') no-repeat  left #fff;
   background-size: 66px;
 
  box-sizing: border-box;
  border-radius: 20px;
  background-size: 60px 60px;
}
.frm-post-project  .styled-select {
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    outline: none;
    height: 33px;
  width: 100%;
    
    background: url('../image/drop.png') no-repeat right center #fff;
    background-size: 18px;
    text-indent: 10px;
    
    z-index: 66;
   
    
}


.frm-post-project  select  {
    box-sizing: border-box;
  padding-right: 7px;
    border: none;
    -webkit-appearance:button;
    outline: none;
    
   

}

.frm-post-project  .styled-select option.service-small {
    font-size: 14px;
    padding: 5px;
    background: #fff;
    color: #777;
    border-radius: 6px;
    border: 1px solid #e5e5e5;
    outline: none;
}

/* ---------------- Syle Profile User --------------------- */
.profile {
    display: flex;
}

.pro-profile {
    flex: 20%;
    position: relative;
}

.pro-nav {
    flex: 40%;
}

.pro-search {
    flex: 40%;
}

.profile .pro {
    position: relative;
    display: inline-block;
    flex: 100%;
    max-width: 100%;
    height: 122px;
    display: flex;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .25)
}

.profile .pro ul {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.profile .pro ul li {
    padding-top: 48px;

    float: left;
    list-style-type: none;

}

.profile .pro ul li a {
    text-decoration: none;
    color: #262626;
    padding: 22px;
    font-size: 18px;
}

form {
    width: 100%;
}

.frm-group {
    line-height: 2.6;
    margin-top: 37px;

}

input[type='search'] {
    padding-top: 44px;
    outline: none;
    font-size: 17px;
    width: 66%;
}

/* .search-field{
                
            padding-top: 8px;
            background:0 0;
            border:none;
            border-bottom:1px solid transparent;
            border-radius:0;
            box-shadow:none;
            color:inherit;
            transition:.3s;
            outline: none;
            }
            .search-field:focus{
            border-bottom:1px solid #ccc;
            } */
#add-project {

    background-image: url('../image/addProject.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 0px 56px;
    background-size: 28px;
}

#search-field {

    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 7px;
    background-color: #fff;
    background-image: url('../image/search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 8px 20px 8px 40px;
    background-size: 18px;
}

.base-row-area {
    position: relative;
    display: flex;

}

.p-aside {
    flex: 16%;
}

.p-content {
    flex: 84%;
}

.p-aside ul {
    display: inline-block;
    padding: 0;
    margin-top: 68px;
    margin-left: 26px;
}

.p-aside ul li {
    float: left;
    list-style-type: none;
    padding: 8px;

}

.p-aside ul li a {
    text-decoration: none;
    color: #262626;
    padding: 22px;
    font-size: 18px;
}

.p-aside ul li a:hover {
    text-decoration: underline;
    color: #777;
}

.cover {
    width: 100%;
    height: 222px;
    background-image: url("../image/cover2.jpeg");
    background-size: 100%;

}

.pro .pro-profile img {
    width: 22%;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 30%;
    ;

    ;
}

.pro span {
    position: absolute;
    top: 66%;
    left: 25%;
}

.p-profile-view-header {
    /* height: 44px; */
    margin: 44px;

}

.p-profile-view-header h2 {
    padding: 12px;
    color: #777777;

}

.p-profile-view-header h2 span {
    float: right;
    color: #777777;
    text-decoration: underline;


}

.p-profile-view-header h2 span:hover {
    color: #2275D7;
    /* color: #05A081; */
    cursor: pointer;
}

.p-profile-more {
    width: 100%;
    height: auto;
    overflow: hidden;

}

.p-profile-more h2 {
    color: #777777;
    float: right;
    cursor: pointer;
    margin-right: 66px;
}

.people-contact {
    position: relative;
    display: flex;
    color: #a6a6b0;
    padding-bottom: 12px;
}

.people-contact .contact-td-1 {
    flex: 30%;
    height: 77px;
    position: relative;
}

.people-contact .contact-td-2 {
    flex: 15%;
    padding: 22px;
}

.people-contact .contact-td-3 {
    flex: 10%;
    padding: 22px;
}

.people-contact .contact-td-4 {
    flex: 30%;
    padding: 22px;
}

.people-contact .contact-td-5 {
    flex: 15%;

}

.people-contact .contact-td-1 img {
    width: 22%;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 20%;
}

.people-contact .contact-td-1 span {
    position: absolute;
    top: 22%;
    left: 50%;
}

.people-contact .contact-td-1 p {
    position: absolute;
    top: 44%;
    left: 50%;
    font-size: 12px;
}

.ondisplay {
    text-align: center;
}

.ondisplay section {
    width: 44px;
    height: 44px;
    background: #fff;
    display: inline-block;
    position: relative;
    text-align: center;
    /* margin-top:5px; */
    /* border: 1px solid gray; */
    border-radius: 5px;
    /* box-shadow:
        0 1px 4px rgba(0, 0, 0, 0.3), 
        0 0 40px rgba(0, 0, 0, 0.1) inset; */
}

.ondisplay section:after {
    visibility: hidden;
    content: attr(title);
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 3px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0px 1px #000;
}

/* .squaredFour */
.ondisplay .squaredFour {
    width: 20px;
    position: relative;
    margin: 20px auto;
}

.ondisplay .squaredFour label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.ondisplay .squaredFour:after {
    content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
}

.ondisplay .squaredFour:hover::after {
    opacity: 0.5;
}

.ondisplay .squaredFour input[type=checkbox] {
    visibility: hidden;
}

.ondisplay .squaredFour:checked+label:after {
    opacity: 1;
}

.btn-contact {
    height: 177px;
    text-align: right;
    padding: 77px 77px;
}

.btn-contact button {
    padding: 7px 18px;
    border: none;
    border-radius: 4px;
    box-shadow: 0;
    background-color: rgb(253, 108, 108);
    color: #555;
    text-shadow: none;
    outline: 0;
    cursor: pointer;

}
/* ---------------- Syle Profile User --------------------- */


/* ---------------------------- Style Form Post Project ----------------------------*/

.p-post-project {
    width: 100%;
    height: 280px;
    box-sizing: border-box;
}

.p-post-project .post-project {
    margin: 57px 122px;
    position: relative;
}

.p-post-project .post-project img {
    position: absolute;
    top: 0;
    left: 7%;
}

.p-post-project .post-project button {
    position: absolute;
    margin-top: 47px;
    right: 32%;
}

.p-post-project .post-project button {
    padding: 7px 18px;
    border: none;
    border-radius: 4px;
    box-shadow: 0;
    background-color: rgb(78, 143, 241);
    color: #f2f2f2;
    text-shadow: none;
    outline: 0;
    cursor: pointer;

}

.frm-post-project table td {
    padding: 11px;
}

.frm-post-project table td label {
    text-align: left;
    color: #afaaaa
}
.frm-post-project input[type="text"] {
    font-size: 33px;
}
.frm-post-project input,
textarea {
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    text-align: left;
    width: 100%;
    padding: 8px;
    

}
.frm-post-project textarea {
    outline: none;
}

.frm-post-project table {
    width: 100%;
}

.frm-post-project button {
    padding: 14px 32px;
    border: none;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 0;
    background-color: rgb(78, 143, 241);
    color: #f2f2f2;
    text-shadow: none;
    outline: 0;
    cursor: pointer;
}

/* ------------------------------End fomr post project ---------------------------- */